{% if include.preamble == null or include.preamble == "1" %}
<h3 id="common-presentational-attributes">Common presentational attributes</h3>

<p>These attributes, which affect presentation, are shared by many tags.</p>
{% endif %}
<dl>

{% if include.style %}
    <dt><code>style="style rule"</code></dt>
    <dd>Inline CSS <code>style</code> rule. It’s recommended that you assign CSS rules via <code>class</code> attribute instead.</dd>
    <dd><strong>Default:</strong> {% if include.style == "" %}unset{% else %}{{ include.style }}{% endif %} (see <a href="/tags/tag-attributes-cross-reference#style">style cross-reference</a>).</dd>
{% endif %}
</dl>
