{% if include.preamble == null or include.preamble == "1" %}
<h3 id="common-global-attributes">Common global attributes</h3>

<p>These attributes are shared by all tags - and plugins, provided they do not override the functionality.</p>
{% endif %}
<dl>
{% unless include.break == "" %}
    <dt><code>break="value"</code></dt>
    <dd>Where value is an HTML element, specified without brackets (e.g. <code>break="li"</code>) or some string to separate list items.</dd>
    <dd><strong>Default:</strong> {% if include.break == null %}br{% else %}{{ include.break }}{% endif %} (see <a href="/tags/tag-attributes-cross-reference#break">break cross-reference</a>).</dd>
{% endunless %}
{% unless include.breakby == "" %}
    <dt><code>breakby="integer(s)"</code></dt>
    <dd>Used to group list items when separating by <code>break</code>. Possible values are lists of integers, like <code>2</code> (groups of 2 items) or <code>1,2</code> (alternate groups of 1 and 2 items).</dd>
    <dd><strong>Default:</strong> {% if include.breakby == null %}1 (unset){% else %}{{ include.breakby }}{% endif %} (see <a href="/tags/tag-attributes-cross-reference#breakby">breakby cross-reference</a>). </dd>
{% endunless %}
    <dt><code>class="class name"</code></dt>
    <dd>HTML <code>class</code> to apply to the wrapper.</dd>
    <dd><strong>Values:</strong> Any valid string.</dd>
    <dd><strong>Default:</strong> {% if include.class == null %}unset{% else %}{{ include.class }}{% endif %}.</dd>

    <dt><code>default="value"</code></dt>
    <dd>The value to display if the tag’s output is blank.</dd>
    <dd><strong>Values:</strong> Any.</dd>
    <dd><strong>Default:</strong> {% if include.default == null %}unset{% else %}{{ include.default }}{% endif %}.</dd>

    <dt><code>escape="list, of, transforms"</code></dt>
    <dd>The transforms to apply to the output. See <a href="/tags/learning/#tag-escaping">tag escaping</a> for details.</dd>
    <dd><strong>Values:</strong>
        <code>html</code>,
        <code>js</code>,
        <code>json</code>,
        <code>url</code>,
        <code>float</code>,
        <code>integer</code>,
        <code>number</code>,
        <code>ordinal</code>,
        <code>spell</code>,
        <code>lower</code>,
        <code>upper</code>,
        <code>title</code>,
        <code>[r|l]trim</code>,
        <code>quote</code>,
        <code>tags</code>,
        <code>textile</code>,
        _any tag_</dd>
    <dd><strong>Default:</strong> {% if include.escape == null %}html{% else %}{{ include.escape }}{% endif %}.</dd>

    <dt><code>evaluate="number list"</code></dt>
    <dd>Alter the processing order of top-level tags inside a form/container. Tags are normally executed from top to bottom. If you wish to change this order, imagine Textpattern tags are numbered incrementally from 1 inside a container. To process tags 3 and 5 first, then 1, 2, and 4, specify <code>evaluate="3, 5"</code> in your container tag.</dd>
    <dd><strong>Values:</strong> Any comma-separated numbers corresponding with the numerical position of primary (top-level) tags inside the container.</dd>
    <dd><strong>Default:</strong> {% if include.evaluate == null %}unset{% else %}{{ include.evaluate }}{% endif %}.</dd>

    <dt><code>html_id="value"</code></dt>
    <dd>HTML <code>id</code> to apply to the wrapper.</dd>
    <dd><strong>Values:</strong> Any valid string.</dd>
    <dd><strong>Default:</strong> {% if include.html_id == null %}unset{% else %}{{ include.html_id }}{% endif %}.</dd>

    <dt><code>label="value"</code></dt>
    <dd>The label to display before the output.</dd>
    <dd><strong>Values:</strong> Any valid string.</dd>
    <dd><strong>Default:</strong> {% if include.label == null %}unset{% else %}{{ include.label }}{% endif %}.</dd>

    <dt><code>labeltag="tag"</code></dt>
    <dd>The tag (without angle brackets) to wrap the label.</dd>
    <dd><strong>Values:</strong> Any valid HTML tag, e.g. <code>h3</code> or <code>div</code>.</dd>
    <dd><strong>Default:</strong> {% if include.labeltag == null %}unset{% else %}{{ include.labeltag }}{% endif %}.</dd>
{% unless include.not == "" %}
    <dt><code>not="boolean"</code></dt>
    <dd>Switch <code><txp:else /></code> parts.</dd>
    <dd><strong>Values:</strong> 0 (no) or 1 (yes).</dd>
    <dd><strong>Default:</strong> {% if include.not == null %}unset (0){% else %}{{ include.not }}{% endif %}.</dd>
{% endunless %}
    <dt><code>replace="string"</code></dt>
    <dd>Replace the content stripped via the <code>trim</code> attribute.</dd>
    <dd><strong>Values:</strong> Any valid string.</dd>
    <dd><strong>Default:</strong> {% if include.replace == null %}unset{% else %}{{ include.replace }}{% endif %}.</dd>

    <dt><code>trim="string or regex"</code></dt>
    <dd>Remove the matching patterns from the output.</dd>
    <dd><strong>Values:</strong> Any. Use <code>/value/</code> to trigger regular expression matching, otherwise the value will be treated verbatim as a set of characters to trim.</dd>
    <dd><strong>Default:</strong> {% if include.trim == null %}unset{% else %}{{ include.trim }}{% endif %}.</dd>

    <dt><code>wrapform="form name"</code></dt>
    <dd>The form to be used as <code>wraptag</code>. Handy if the wraptag pattern is too long, or is reused.</dd>
    <dd><strong>Values:</strong> Any defined form name.</dd>
    <dd><strong>Default:</strong> {% if include.wrapform == null %}unset{% else %}{{ include.wrapform }}{% endif %}.</dd>

    <dt><code>wraptag="tag or pattern"</code></dt>
    <dd>The tag (without angle brackets) to wrap the output.</dd>
    <dd><strong>Values:</strong> HTML tag or a string containing <code><+></code> pattern that will be replaced by the output.</dd>
    <dd><strong>Default:</strong> {% if include.wraptag == null %}unset{% else %}{{ include.wraptag }}{% endif %}.</dd>
</dl>
