<nav aria-label="Breadcrumb navigation">
    <ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ site.baseurl }}/">
                <span itemprop="name">ToC</span>
            </a>
            <meta itemprop="position" content="1">
        </li>

        {% if page.url contains 'index' %}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <b itemprop="item">
                    <span itemprop="name">THIS IS A SECTION INDEX</span>
                </b>
                <meta itemprop="position" content="2">
            </li>
        {% else %}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="./">
                    <span itemprop="name">THIS IS NOT A SECTION INDEX</span>
                </a>
                <meta itemprop="position" content="2">
            </li>
        {% endif %}

        <li class="current" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <b itemprop="item">
                <span itemprop="name">{{ page.title }}</span>
            </b>
            <meta itemprop="position" content="todo">
        </li>
    </ol>
</nav>
