<h3 id="common-presentational-attributes">Common presentational attributes</h3>

<p>These attributes, which affect presentation, are shared by many tags.</p>

<dl>
{% if include.break %}
    <dt><code class="highlighter-rouge language-plaintext">break="value"</code></dt>
    <dd>Where value is an HTML element, specified without brackets (e.g. <code class="highlighter-rouge language-plaintext">break="li"</code>) or some string to separate list items.</dd>
    <dd><strong>Default:</strong> {{ include.break }} (see <a href="/tags/tag-attributes-cross-reference#break">break cross-reference</a>).</dd>
{% endif %}

{% if include.breakby %}
    <dt><code class="highlighter-rouge language-plaintext">breakby="integer(s)"</code></dt>
    <dd>Used to group list items when separating by <code class="highlighter-rouge language-plaintext">break</code>. Possible values are lists of integers, like <code class="highlighter-rouge language-plaintext">2</code> (groups of 2 items) or <code class="highlighter-rouge language-plaintext">1,2</code> (alternate groups of 1 and 2 items).</dd>
    <dd><strong>Default:</strong> {{ include.breakby }} (see <a href="/tags/tag-attributes-cross-reference#breakby">breakby cross-reference</a>). </dd>
{% endif %}

{% if include.class %}
    <dt><code class="highlighter-rouge language-plaintext">class="class name"</code></dt>
    <dd>HTML <code class="highlighter-rouge language-plaintext">class</code> to apply to the <code class="highlighter-rouge language-plaintext">wraptag</code> attribute value, if set, otherwise to the tag itself.</dd>
    <dd><strong>Default:</strong> {{ include.class }} (see <a href="/tags/tag-attributes-cross-reference#class">class cross-reference</a>).</dd>
{% endif %}

{% if include.escape %}
    <dt><code class="highlighter-rouge language-plaintext">escape"entities"</code> <span class="footnote warning"><strong>Global v4.7.0+</strong></span></dt>
    <dd>Escape <a href="https://developer.mozilla.org/en-US/docs/Glossary/Entity">HTML entities</a> or other tags.</dd>
    <dd><strong>Default:</strong> {{ include.escape}} (see <a href="/tags/tag-attributes-cross-reference#escape">escape cross-reference</a> and <a href="/tags/tag-basics/tag-escaping">tag escaping</a> for details).</dd>
{% endif %}

{% if include.label %}
    <dt><code class="highlighter-rouge language-plaintext">label="text"</code></dt>
    <dd>Label prepended to item.</dd>
    <dd><strong>Default:</strong> {{ include.label }} (see <a href="/tags/tag-attributes-cross-reference#label">label cross-reference</a>).</dd>
{% endif %}

{% if include.labeltag %}
    <dt><code class="highlighter-rouge language-plaintext">labeltag="element"</code></dt>
    <dd>HTML element to wrap (markup) label, specified without brackets (e.g. <code class="highlighter-rouge language-plaintext">labeltag="h3"</code>).</dd>
    <dd><strong>Default:</strong> {{ include.labeltag }} (see <a href="/tags/tag-attributes-cross-reference#labeltag">labeltag cross-reference</a>).</dd>
{% endif %}

{% if include.style %}
    <dt><code class="highlighter-rouge language-plaintext">style="style rule"</code></dt>
    <dd>Inline CSS <code class="highlighter-rouge language-plaintext">style</code> rule. It’s recommended that you assign CSS rules via <code class="highlighter-rouge language-plaintext">class</code> attribute instead.</dd>
    <dd><strong>Default:</strong> {{ include.style }} (see <a href="/tags/tag-attributes-cross-reference#style">style cross-reference</a>).</dd>
{% endif %}

{% if include.wraptag %}
    <dt><code class="highlighter-rouge language-plaintext">wraptag="element"</code></dt>
    <dd>HTML element to wrap (markup) list block, specified without brackets (e.g. <code class="highlighter-rouge language-plaintext">wraptag="ul"</code>).</dd>
    <dd><strong>Default:</strong> {{ include.wraptag }} (see <a href="/tags/tag-attributes-cross-reference#wraptag">wraptag cross-reference</a>).</dd>
{% endif %}
</dl>
