<meta itemprop="accessibilityControl" content="fullKeyboardControl">
<meta itemprop="accessibilityControl" content="fullMouseControl">
<meta itemprop="accessibilityHazard" content="noFlashingHazard">
<meta itemprop="accessibilityHazard" content="noMotionSimulationHazard">
<meta itemprop="accessibilityHazard" content="noSoundHazard">
<meta itemprop="accessibilityAPI" content="ARIA">
<a class="a--skip-link" href="#main">Go to main content</a>
<div class="wrapper">
    <header class="site-header" itemscope itemtype="https://schema.org/Organization">
        <h1 class="masthead" itemprop="name"><a rel="home" itemprop="url" href="https://textpattern.com/" title="Go to the Textpattern homepage">Textpattern CMS</a></h1>
        <meta itemprop="logo" content="https://textpattern.com/assets/img/branding/textpattern/textpattern.png">
        {% if page.layout != "default" and page.layout != "search" %}
        <div itemscope itemtype="https://schema.org/WebSite">
            <meta itemprop="url" content="https://docs.textpattern.com/">
            <form class="search-form" role="search" action="/search" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction" data-search-form>
                <meta itemprop="target" content="https://docs.textpattern.com/search/?q={q}">
                <label class="accessibility" for="q">Search</label>
                <input id="q" name="q" type="search" size="32" placeholder="Search documentation…" itemprop="query-input" data-search-input>
            </form>
        </div>
        {% endif %}
    </header>
    <div class="nav-container">
        <a id="site-navigation-toggle" href="#" role="button" aria-controls="site-navigation">Menu</a>
        <nav id="site-navigation" aria-label="Site navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
            <ul id="site-navigation-list">
                <li><a itemprop="url" href="https://textpattern.com/start/">Get started</a></li>
                <li class="active"><a itemprop="url" href="https://docs.textpattern.com/">Documentation</a> <span class="accessibility">(current section)</span></li>
                <li><a itemprop="url" href="https://textpattern.com/themes">Themes</a></li>
                <li><a itemprop="url" href="https://plugins.textpattern.com/">Plugins</a></li>
                <li><a itemprop="url" href="https://forum.textpattern.com/">Forum</a></li>
                <li><a itemprop="url" href="https://textpattern.com/weblog/">Blog</a></li>
                <li><a itemprop="url" href="https://textpattern.com/about/">About</a></li>
            </ul>
        </nav>
    </div>
    <main id="main" aria-label="Main content">
