<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic">
<link rel="stylesheet" href="https://textpattern.io/assets/css/style.css">
<link rel="dns-prefetch" href="https://ajax.googleapis.com">
<link rel="dns-prefetch" href="https://www.google-analytics.com">
<link rel="icon" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" sizes="16x16" href="/favicon-16x16.png">
<meta name="author" content="{{ site.author }}">
<meta name="theme-color" content="#ffda44">
<meta name="application-name" content="Textpattern CMS Documentation">
