Installing, configuring, securing, troubleshooting, collaborating, and the like.

<section>

#### Basics

* [Installing the software](/setup/installing-the-software)
* [Upgrading the installation](/setup/upgrading-the-installation)
* [Moving an installation](/setup/moving-an-installation)
* [Multi-site installation](/setup/multi-site-installation)
* [Collaborative publishing](/setup/collaborative-publishing){: style="color:red;"} (see [issue 150](https://github.com/textpattern/textpattern.github.io/issues/150))
{:.list--no-bullets style="list-style-position:inside; list-style-type:'- '"}

</section>
<section>

#### More

* [Configuring a web server](/setup/configuring-a-web-server)
* [Preferences](/setup/preferences) (See [issue 160](https://github.com/textpattern/textpattern.github.io/issues/160))
* [Troubleshooting diagnostics](/setup/troubleshooting-diagnostics) (See [issue 124](https://github.com/textpattern/textpattern.github.io/issues/124))
* [Troubleshooting common problems](/setup/troubleshooting-common-problems)
* [System security](/setup/system-security)
{:.list--no-bullets style="list-style-position:inside; list-style-type:'- '"}

</section>
