There are standard HTML tags, and there are Textpattern’s *super tags!* Feel the power. 

<section>

#### Basics

* [Tags reference](/tags/reference/)
* [Attributes cross-reference](/tags/tag-attributes-cross-reference)
* [Learning tags](/tags/learning-tags){: style="color:red;"} [see [issue 153](https://github.com/textpattern/textpattern.github.io/issues/153)]
{:.list--no-bullets style="list-style-position:inside; list-style-type:'- '"}

</section>
<section>

#### More

* [Custom short-tags and shortcodes](/tags/shortcodes/custom-short-tags-and-shortcodes)
* [Shortcode examples](/tags/shortcodes/)
* [Tags in development](/tags/tags-in-development)
{:.list--no-bullets style="list-style-position:inside; list-style-type:'- '"}

</section>