Content types, templates, semantic building blocks, themes, site structure, and so on.

<section>

#### Basics

* [Content types: core and custom](/build/content-types){: style="color:red;"} ([Issue 151](https://github.com/textpattern/textpattern.github.io/issues/151))
* [Building site structures](/build/site-structures){: style="color:red;"} ([Issue 152](https://github.com/textpattern/textpattern.github.io/issues/152))
* [Themes: Creating, using, and sharing](/build/themes-creating-using-and-sharing) [[Themes site](https://themes.textpattern.com)]
{:.list--no-bullets style="list-style-position:inside; list-style-type:'- '"}

</section>
<section>

#### More

* [Planning website architecture](/build/planning-website-architecture){: style="color:red;"} ([Issue 156](https://github.com/textpattern/textpattern.github.io/issues/156))
* [Installing, upgrading and using plugins](/build/plugins-installing-upgrading-and-using)
* [Creating administration themes](/build/creating-administration-themes)
* [Developing plugins](/development/) [[Plugins site](https://plugins.textpattern.com)]
{:.list--no-bullets style="list-style-position:inside; list-style-type:'- '"}

</section>
