Installing, configuring, securing, troubleshooting, collaborating, and the like.

<section>

#### Basics

* [Installing the software](/setup/installing-the-software)
* [Upgrading the installation](/setup/upgrading-the-installation)
* [Moving an installation](/setup/moving-an-installation)
* [Multi-site installations](/setup/multi-site-installations)
* [Collaborative publishing](/setup/collaborative-publishing){: style="color:red;"} (see [issue 150](https://github.com/textpattern/textpattern.github.io/issues/150))
{:.list--no-bullets style="list-style-position:inside; list-style-type:'- '"}

</section>
<section>

#### More

* [Web server configuration](/setup/configuring-a-web-server-for-textpattern)
* [Troubleshooting common problems](/setup/troubleshooting-common-problems)
* [System security](/setup/system-security)
{:.list--no-bullets style="list-style-position:inside; list-style-type:'- '"}

</section>
