There are standard HTML tags, and there are Textpattern’s *super tags!* Feel the power. 

<section>

#### Basics

* [Learning about tags](/tags/learning-about-tags){: style="color:red;"} [see [issue 154](https://github.com/textpattern/textpattern.github.io/issues/154)]
* [Tags index](/tags/reference/)
* [Attributes cross-reference](/tags/tag-attributes-cross-reference)
{:.list--no-bullets style="list-style-position:inside; list-style-type:'- '"}

</section>
<section>

#### More

* [Custom short-tags and shortcodes](/tags/shortcodes/custom-short-tags-and-shortcodes)
* [Shortcode examples](/tags/shortcodes/)
* [Tags in development](/tags/tags-in-development)
{:.list--no-bullets style="list-style-position:inside; list-style-type:'- '"}

</section>