<!DOCTYPE html>
<html lang="en-GB-oxendict">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} / Textpattern CMS user documentation</title>
    {% include head.html %}
    <meta name="robots" content="index, follow, noodp, noydir">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@textpattern">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image:src" content="https://docs.textpattern.io/apple-touch-icon-180x180.png">
    <meta name="twitter:url" content="https://docs.textpattern.io{{ page.url }}">
    <meta property="og:image" content="https://textpattern.io/assets/img/branding/textpattern/textpattern-og.png">
    {% seo title=false %}
</head>

<body itemscope itemtype="https://schema.org/CollectionPage">

{% include header.html %}

<div class="container">
    <nav aria-label="Breadcrumb navigation">
        <ol class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="https://docs.textpattern.io/"><span itemprop="name">Documentation</span></a>
                <meta itemprop="position" content="1">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="index"><span itemprop="name">{{ page.category }}</span></a>
                <meta itemprop="position" content="2">
            </li>
            <li class="current" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <b itemprop="item"><span itemprop="name">{{ page.title }}</span></b>
                <meta itemprop="position" content="3">
            </li>
        </ol>
    </nav>

    {{ content }}

    {% comment %} {% include ads-article.html %} {% endcomment %}

    <p class="alert-block information footnote report-issues">See something wrong in this document? Outdated info, a broken link, faulty code example, or whatever? Please <a rel="external" href="https://github.com/textpattern/textpattern.github.io/issues">write an issue</a> and we’ll fix it.</p>
</div>

{% include footer.html %}

</body>
</html>
