<!DOCTYPE html>
<html lang="en-GB-oxendict">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% include head.html %}
    <meta name="robots" content="index, follow, noodp, noydir">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@textpattern">
    <meta name="twitter:title" content="Textpattern CMS user documentation">
    <meta name="twitter:description" content="Complete documentation on how to install and use the Textpattern Content Management System.">
    <meta name="twitter:image:src" content="http://docs.textpattern.io/apple-touch-icon-180x180.png">
    <meta name="twitter:url" content="http://docs.textpattern.io/">
    <meta property="og:image" content="http://textpattern.com/assets/img/branding/textpattern/textpattern-og.png">
    {% seo title=false %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:'ca-pub-9207713713454725',enable_page_level_ads:true});</script>
</head>

<body itemscope itemtype="http://schema.org/WebPage">

{% include header.html %}

<div class="wrapper-inner odd">
    <div class="container" itemscope itemtype="http://schema.org/WebSite">
        <meta itemprop="url" content="http://docs.textpattern.io/">
        <form class="search-hero" role="search" method="get" action="http://docs.textpattern.io/search" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction" data-search-form>
            <meta itemprop="target" content="http://docs.textpattern.io/search/?q={q}">
            <input id="q" name="q" type="search" size="28" placeholder="Search documentation…" itemprop="query-input" data-search-input>
            <input class="button-primary" type="submit" value="Search">
        </form>
    </div>
</div>
<div class="wrapper-inner even">
    <div class="container">

        {{ content }}

    </div>
</div>
<div class="wrapper-inner odd">
    <div class="container">
        <aside class="ads-area" aria-label="Advertisements" itemscope itemtype="http://schema.org/WPAdBlock">

            <!-- home-ad-1 -->
            <ins class="adsbygoogle" data-ad-client="ca-pub-9207713713454725" data-ad-slot="8542828493"></ins>
            <script>(adsbygoogle=window.adsbygoogle||[]).push({});</script>

            <!-- home-ad-2 -->
            <ins class="adsbygoogle" data-ad-client="ca-pub-9207713713454725" data-ad-slot="1798290891"></ins>
            <script>(adsbygoogle=window.adsbygoogle||[]).push({});</script>

            <!-- home-ad-3 -->
            <ins class="adsbygoogle" data-ad-client="ca-pub-9207713713454725" data-ad-slot="4751757299"></ins>
            <script>(adsbygoogle=window.adsbygoogle||[]).push({});</script>

        </aside>
    </div>
</div>

{% include footer.html %}

</body>
</html>
