<!DOCTYPE html>
<html lang="en-GB-oxendict">
<head>
    {% include head.html %}
    <title>{{ page.title }}</title>
    <meta name="robots" content="index, follow">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@textpattern">
    <meta name="twitter:title" content="Textpattern CMS user documentation">
    <meta name="twitter:description" content="Complete documentation on how to install and use the Textpattern Content Management System.">
    <meta name="twitter:image:src" content="https://docs.textpattern.com/apple-touch-icon-180x180.png">
    <meta name="twitter:url" content="https://docs.textpattern.com/">
    <meta property="og:image" content="https://textpattern.com/assets/img/branding/textpattern/textpattern-og.png">
    {% seo title=false %}
</head>

<body itemscope itemtype="https://schema.org/WebPage" class="homepage">

{% include header.html %}

<div class="wrapper-inner zebra">
    <div class="container" itemscope itemtype="https://schema.org/WebSite">
        <meta itemprop="url" content="https://docs.textpattern.com/">
        <form class="search-hero" role="search" method="get" action="/search" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction" data-search-form>
            <meta itemprop="target" content="https://docs.textpattern.com/search/?q={q}">
            <input id="q" name="q" type="search" size="28" placeholder="Search documentation…" itemprop="query-input" data-search-input>
            <input class="button-primary" type="submit" value="Search">
        </form>
    </div>
</div>
<div class="wrapper-inner">
    <div class="container">

        {{ content }}

    </div>
</div>

{% include footer.html %}

</body>
</html>
