<!DOCTYPE html>
<html lang="en-GB-oxendict">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} / Textpattern CMS user documentation</title>
    {% include head.html %}
    <meta name="robots" content="index, follow, noodp, noydir">
    {% seo title=false %}
</head>

<body itemscope itemtype="http://schema.org/WebPage">

{% include header.html %}

<div class="container">
    <nav aria-label="Breadcrumb navigation">
        <ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="http://docs.textpattern.io/"><span itemprop="name">Documentation</span></a>
                <meta itemprop="position" content="1">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="index"><span itemprop="name">{{ page.category }}</span></a>
                <meta itemprop="position" content="2">
            </li>
            <li class="current" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <b itemprop="item"><span itemprop="name">{{ page.title }}</span></b>
                <meta itemprop="position" content="3">
            </li>
        </ol>
    </nav>

    <article itemscope itemtype="http://schema.org/Article">

        {{ content }}

        {% if page.tags %}
        <footer class="article-footer">
            <span class="ui-icon ui-icon-tag">Tags:</span>
            <span itemprop="keywords">
                {% for tag in page.tags %}
                <a rel="category tag" href="{{ tag | slugify }}" title="View documentation in this category">{{ tag }}</a>
                {% endfor %}
            </span>
        </footer>
        {% endif %}
    </article>

    <p class="alert-block information footnote report-issues">See something wrong in this document? Outdated info, a broken link, faulty code example, or whatever? Please <a rel="external" href="https://github.com/textpattern/textpattern.github.io/issues">write an issue</a> and we’ll fix it.</p>
</div>

{% include footer.html %}

</body>
</html>
